<h4>My entries: </h4>
<div class="container bg-secondary p-3 rounded">
    {% if entries|length > 0 %}
        <div id="accordion" role="tablist">
        {% for entry in entries[::-1] %}
            <div class="card m-1">
                <div class="card-header hoverable-div d-flex justify-content-between" role="tab" id="{{ entry._id + '-head' }}" data-toggle="collapse" href="#{{ entry._id }}" aria-expanded="true" aria-controls="{{ entry._id }}">
                        <h5 class="my-auto">{{ entry.title }}</h5>
                        <p class="text-muted my-auto">{{ entry.date_event }}</p>

                </div>

                <div id="{{ entry._id }}" class="collapse" role="tabpanel" aria-labelledby="{{ entry._id + '-head' }}" data-parent="#accordion">
                  <div class="card-body">

                    <p>{{ entry.content }}</p>
                      <hr>
                    <p class="text-muted xs">Last Modified: {{ entry.date_last_modified }}</p>
                  </div>
                </div>
            </div>

        {% endfor %}
        </div>
        <div class="my-3">
                    <a class="btn btn-primary btn-lg" href="/save_to_local">
                        Download backup
                    </a>
            <button class="btn btn-success btn-lg">
                 <a class="g-savetodrive btn btn-success btn-lg" href="#"
                       data-src="/save_to_local"
                       data-filename="my-entries.json"
                       data-sitename="Simple Journal">
                </a>
            </button>

        </div>
    {% else %}
        <p class="text-secondary" >No entries</p>
    {% endif %}
</div>